.ht table, .ht td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-right: 10px;
  padding-left: 10px;
}

.t1 table, .t1 td {
  border: 2px solid orange;
  border-collapse: collapse;
  padding: 10px;
  background-color: lightgoldenrodyellow
}

.t2 table, .t2 td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.t3 td {
  border: 1px solid black;
  width: 50%;
}

.t3 img {
  width: 250px;
  height: 200px;
}

#recipe {
  width: 500px;
  height: 350px;
}