#nav {
  display: none;
}

#sidebar {
  display: none;
}

img {
  display: none;
}

body {
  font-size: 1.25em;
  color: black;
  background-color: white;
}

a::after{
  content: " (" attr(href) ") ";
}